.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creator {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: white;
    border: 2px solid lightgrey;
    -webkit-box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px -6px rgba(34, 60, 80, 0.2);
    padding: 15px;
}